<!--agregar la informacion de esta pagina que es el inicio-->
{% extends "base.html" %}
    

    {%  block titulo %} Inicio {% endblock %}

    
    {%  block contenido  %} 
    
    <div class="p-5 mb-4 bg-light rounded-3">
        <img src=" static/images/trafico.gif " alt="Mi " width="100%" height="200px">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">INFORMACION DEL TRAFICO EN EL SALVADOR 2023</h1>
          <!--  <img src="my_app/copia.jpg" alt="My image"> 
          

          <!-- 
          <p class="lead">empezar agregar informacion</p>
            <button class="btn btn-primary btn-lg" type="button">
               
               empezar
            </button>
            -->
        </div>
    </div>

    <main class="container my-5">
        <section class="row">
          <div class="col-md-6">
            <h2>Informacion </h2>
            <p>Al término de 2023, un total de 11,015 personas sufrieron lesiones en accidentes de tránsito y esta es la
                 cifra más alta desde 2015, a pesar que ahora ocurren menos siniestros viales que hace ocho años, 
                 indican las estadísticas del gubernamental Observatorio Nacional de Seguridad Vial (ONASEVI).</p>
                 <P>El ONASEVI, citando datos de la Policía Nacional Civil, reportó 18,463 accidentes viales entre el 
                    1 de enero y el 31 de diciembre de 2023. En comparación con 2022 hubo 1,055 incidentes más, es decir, 
                    un aumento anual del 6.1 %.</p>
          </div>
          <div class="col-md-6">
            <h2>Sección 2</h2>
            <p>Otra sección para agregar más contenido.</p>
          </div>
        </section>
      </main>
    
      <footer class="bg-light py-3">
        <div class="container">
          <p class="text-center mb-0">&copy; 2023 Mi Página. Todos los derechos reservados.</p>
        </div>
      </footer>

      




    {% endblock %}