{% extends "base.html" %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}
{% if request.user.is_authenticated%}
 <h1> BIENVENDIO ADMINISTRADOR {{user.username | upper}}</h1>
 {% endif %}
<div class="p-5 mb-4 bg-light rounded-3">



<main class="container my-5">
  <section class="row">
    <!--2024-->
    <div class="col-md-6">
      <h2>agregar informacion del trafico 2024</h2>
      <textarea  class="form-control" rows="10" cols="40" id="input1">Digitar tu Noticia</textarea>
      <button class="btn btn-info" id="saveButton">Guardar</button>
    </div>
    
    <!--2023-->
    <div class="col-md-6">
      <h2>agregar informacion del trafico 2023</h2>
      <textarea  class="form-control" rows="10" cols="40" id="input2">Digitar tu Noticia</textarea>
      <button class="btn btn-info" id="elvin2023">Guardar</button>
    </div>
    


  </section>
</main>



{% endblock %}

