{% extends "base.html" %}
    

    {%  block titulo %} nosotros {% endblock %}

    
    {%  block contenido  %} 
  

    <header class="bg-primary text-white text-center py-5">
        <div class="container">
            <h1 class="display-4">Conoce Más Sobre Nosotros</h1>
            <p class="lead">Nuestra misión es proporcionar los mejores servicios y productos a nuestros clientes.</p>
        </div>
    </header>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Somos estudiantes</h2>
                    <p>Estudiantes de la carrera de Ingenieria en Sistemas Informaticos</p>
                    <p>Facultad de Arquitectura y Ingenieria</p>
                    <p>Universidad de El Salvador</p>
                </div>
                <div class="col-md-6">
                    <h2>Nuestros Valores</h2>
                    <ul>
                        <li>Integridad</li>
                        <li>Innovación</li>
                        <li>Excelencia</li>
                        <li>Sostenibilidad</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <h2>Conoce a Nuestro Equipo</h2>
                </div>
                <div class="col-md-4 text-center">
                    <img src="static/images/full.jpg" class="rounded-circle"  alt="Mi " width="200" height="200px">
                    <h4>Elvin Josue Morales Hernandez</h4>
                    <p>Full Stack Junior</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="static/images/developer.jpg" class="rounded-circle" alt="Mi " width="200" height="200px">
                    <h4>Oscar Leonel Segura Valencia</h4>
                    <p>Developer web</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="static/images/web.png" class="rounded-circle" alt="Mi " width="200" height="200px">
                    <h4>Luis Enrique Vasquez Menjivar</h4>
                    <p>Developer web</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-light py-4">
        <div class="container text-center">
            <p class="m-0">©Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





    
    
    {% endblock %}











