{% extends "base.html" %}
{% block titulo %} trafico 2021 {% endblock %}
{% block contenido %}


<div class="p-4 mb-4  rounded-3">

<img src=" static/images/tra4.jpg " alt="Mi " width="900" height="300px" />

</div>

<div class="p-2 mb-3 bg-light rounded-2">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">
        INFORMACION DEL TRAFICO EN EL SALVADOR 2021
    </div>
  </div>
  
  <main class="container my-5">
      <section class="row">
       
        <div class="col-md-6">
          <h2>noticias</h2>
          <h2>2021 cerró con reducción del 3.4 % de fallecidos en accidentes de tránsito</h2>
          <h2>Además, en 2021 hubo una disminución de 487 personas lesiondas, lo que significa un -4.4 % respecto a los años anteriores.</h2>
          <p>Los accidentes de tránsito fue uno de los temas que más eco hizo durante el año 2021, sin embargo, autoridades del Viceministerio de Transporte (VMT) aseguran que el año cerró con una reducción del 6.8 % en comparación con el 2019 y 2021.</p>
          <P>En cuanto a las personas que han resultado fallecidas en este tipo de siniestros, el titular del ministerio de Obras Públicas (MOP), Romeo Herrera, detalló que se presenta una baja de -3.4 %, lo que equivale a 48 muertos.</p>
          <P>Asimismo, explicó que se tuvo una disminución de 487 personas lesiondas en 2021, lo que significa un -4.4 % respecto a los años anteriores.</p>
          <P></p>



          <p id="output"></p>
        </div>
             
          <div class="col-md-6">
           <h2>estadisitica</h2>
           <p></p>


           <img src=" static/images/2021-1.png " alt="Mi " width="500" height="500" />
           <img src=" static/images/2021-2.png " alt="Mi " width="500" height="500" />
           </div> 
           <div class="col-12 text-center">
  <a  class="btn btn-info" href="https://www.transparencia.gob.sv/system/documents/documents/000/530/525/original/Informe-Anual-de-Siniestralidad-Vial-en-El-Salvador-2022.pdf?1680198277#:~:text=La%20tasa%20de%20siniestralidad%20vial,14.1%25%20con%20respecto%20a%202021.&text=La%20tasa%20de%20fatalidad%20por,7.9%25%20con%20respecto%20a%202021.&text=El%20parque%20vehicular%2C%20en%202022,8.45%20con%20respecto%20a%202021.&text=Los%20peatones%20fueron%20el%20usuario%20m%C3%A1s%20vulnerable%20de%20la%20v%C3%ADa.">mas informacion</a>
  <div>
      </section>
    </main>
  
  
  <footer class="bg-light py-3">
    <div class="container">
      <p class="text-center mb-0">
        &copy; Mi Página. Todos los derechos reservados.
      </p>
    </div>


  </footer>
{% endblock %}