{% extends "base.html" %}
{% block titulo %} trafico 2022 {% endblock %}
{% block contenido %}


<div class="p-4 mb-4  rounded-3">

<img src=" static/images/tra3.jpg " alt="Mi " width="900" height="300px" />

</div>

<div class="p-2 mb-3 bg-light rounded-2">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">
        INFORMACION DEL TRAFICO EN EL SALVADOR 2022
    </div>
  </div>
  
  <main class="container my-5">
      <section class="row">
       
        <div class="col-md-6">
          <h2>noticias</h2>
          <h2>66% de la población considera que el tráfico vehicular ha empeorado</h2>
          <p>Durante las últimas semanas el congestionamiento vehicular ha representado uno de los principales problemas para los salvadoreños, sobre todo en el Gran San Salvador y principalmente por el retorno de los estudiantes de todos los niveles a clases presenciales, suspendidas o restringidas desde la cuarentena de 2020.</p>
          <P>Cada día, las personas deben tener en cuenta que movilizarse desde sus hogares al lugar de trabajo toma un aproximado de una hora, sin incluir el tiempo que gastan para regresar a casa, complicaciones por accidentes u otros factores, horas que deben restar a su descanso.</p>
          <P></p>
          <P></p>



          <p id="output"></p>
        </div>
             
          <div class="col-md-6">
           <h2>estadisitica</h2>
           <p>Esta situación tiene una afectación directa en el estado de animo o la disposición de las personas. Actualmente el 34% de la población encuestada señaló que estar en el congestionamiento vehicular le genera enojo, el 24.7% tiende a sentirse aburrido, 12% muestra incertidumbre ante la situación y un importante porcentaje de encuestados prefirió no contestar ante la pregunta. Una de las problemáticas desencadenadas con esta situación es la intolerancia al volante, los múltiples casos de violencia entre los conductores que se han registrado en los meses anteriores.   </p>
           <p>Las calles de San Salvador ya no tienen disponibilidad para que los vehículos continúen circulando, al punto que presenta un déficit de espacio de un 447%, cifra que es considerada como una situación crítica, según la UFG.</p>

           <img src=" static/images/2022-1.png " alt="Mi " width="500" height="500" />
           <img src=" static/images/2022-2.png " alt="Mi " width="500" height="500" />
           <img src=" static/images/2022-3.png " alt="Mi " width="500" height="500" />
           </div> 
  
  <a  href="https://www.transparencia.gob.sv/system/documents/documents/000/530/525/original/Informe-Anual-de-Siniestralidad-Vial-en-El-Salvador-2022.pdf?1680198277#:~:text=La%20tasa%20de%20siniestralidad%20vial,14.1%25%20con%20respecto%20a%202021.&text=La%20tasa%20de%20fatalidad%20por,7.9%25%20con%20respecto%20a%202021.&text=El%20parque%20vehicular%2C%20en%202022,8.45%20con%20respecto%20a%202021.">mas informacion</a>
      </section>
    </main>
  
  
  <footer class="bg-light py-3">
    <div class="container">
      <p class="text-center mb-0">
        &copy; Mi Página. Todos los derechos reservados.
      </p>
    </div>
  </footer>





















{% endblock %}