{% extends "base.html" %}
{% block titulo %} trafico del 2023 {% endblock %}
{% block contenido %}



<div class="p-4 mb-4  rounded-3">

    <img src=" static/images/tra2.jpg " alt="Mi " width="100%" height="200px" />

</div>

<div class="p-2 mb-3 bg-light rounded-2">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">
        INFORMACION DEL TRAFICO EN EL SALVADOR 2023
    </div>
  </div>
  
  <main class="container my-5">
      <section class="row">
       
        <div class="col-md-6">
          <h2>noticias</h2>
          <h2>El parque vehicular en El Salvador superó las 1.7 millones de unidades en el 2023</h2>
          <p>Al cierre del año 2023, el parque vehicular en El Salvador superó 1,7 millones de unidades, revelaron los datos del Observatorio Nacional de Seguridad Vial que dirige el Fondo para la Atención a las Víctimas de Accidentes de Tránsito (Fonat).</p>
          <P>Las cifras exponen que hasta diciembre del año pasado se registraron 130,700 vehículos más que al cierre del 2022, cuando el parque vehicular reportaba 1,602,819 automotores en las carreteras.</p>
          <P>Actualmente, circulan 1,733,519 unidades de transporte en todo el país, de estos, 1,181,002 (68.13 %) corresponden a vehículos y 552,517 (31.87 %) corresponden a motociclistas.</p>
          <P></p>



            <h1>Extra Informacion </h1>
            <p id="output1"></p>
        </div>
             
          <div class="col-md-6">
           <h2>estadisitica</h2>
           <p>El Salvador ha experimentado un aumento desmedido del parque vehicular en los últimos años, debido al mal servicio del transporte público y el aumento de la población. Anualmente el parque vehicular en el país ha venido creciendo a una tasa anual de más del 8% en los últimos 8 años. Para febrero de 2023 SERTRACEN S.A de C.V. y el Viceministerio de Transporte (VMT) registraban un parque vehicular de 1,624,170 unidades en todo del país, de las cuales un 69.07% correspondía a vehículos y un 30.93% a motocicletas.   </p>


           <img src=" static/images/esta2.png " alt="Mi " width="500" height="500" />
           </div> 
           <div class="col-12 text-center">
  <a  href="https://www.desarrolloterritorialsv.org/post/el-tr%C3%A1fico-pesado-se-ha-convertido-en-un-reto-para-la-convivencia-y-el-desarrollo-en-el-salvador" class="btn btn-info">mas informacion</a>
</div>
      </section>
    </main>
  
  
  <footer class="bg-light py-3">
    <div class="container">
      <p class="text-center mb-0">
        &copy; Mi Página. Todos los derechos reservados.
      </p>
    </div>
  </footer>











{% endblock %}