{% extends "base.html" %}
{% block titulo %} trafico 2020 {% endblock %}
{% block contenido %}


<div class="p-4 mb-4  rounded-3">

<img src=" static/images/tra5.jpg " alt="Mi " width="900" height="300px" />

</div>

<div class="p-2 mb-3 bg-light rounded-2">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">
        INFORMACION DEL TRAFICO EN EL SALVADOR 2022
    </div>
  </div>
  
  <main class="container my-5">
      <section class="row">
       
        <div class="col-md-6">
          <h2>noticias</h2>
          <h2>El Salvador registra 1.346 muertes en accidentes viales, 3,6 % menos que 2020</h2>
          <p>San Salvador, 30 dic (EFE).- El Salvador registra al cierre del 2021 un total de 1.346 muertes en accidentes viales, un 3,6 % menos que los computados en 2020, según datos divulgados este jueves por el Viceministerio de Transporte (VMT).</p>
          <P>Los datos indican que en 2020 se computaron 1.396 fallecidos en las calles y carreteras, con lo que las víctimas en 2021 fueron 50 menos.</p>
          <P>El total de accidentes, entre el 1 de enero y 29 de diciembre de 2021, es de 18.597. Este dato es inferior en 7 % a los 19.994 computados en el mismo lapso de 2020.</p>
          <P>La cifra de lesionados también bajó un 4,5 %, pasando de 10.906 en 2020 a 10.410 en la actualidad.</p>



          <p id="output"></p>
        </div>
             
          <div class="col-md-6">
           <h2>estadisitica</h2>
           <p> El 22,5 % de los accidentes se dio por “invadir carril”, el 21,8 % por “distracción del conductor”, el 15,2 % por “no respetar la señales de tránsito” y el 14,8 % por “no guardar distancia reglamentaria”. </p>
           <p>Por su parte, el 35,74 % de los fallecidos fue por “atropello”, el 34,25 % por “colisión” y el 20,21 % por “choque”.

            Solo en la víspera de Navidad, los accidentes de tránsito se saldaron con 10 fallecidos y 47 lesionados.
            
            El viceministro de Transporte, Saúl Castelar, indicó que el 24 de diciembre se atendieron estos accidentes de vehículos a pesar de los controles establecidos en las calles y carreteras.
            
            Indicó que el plan de atención para las festividades del fin de año ha permitido la detención de conductores ebrios, pasando de 129 en 2019 a 158 en diciembre de 2020. EFE</p>

        
           </div> 
  
  <a  href="">mas informacion</a>
      </section>
    </main>
  
  
  <footer class="bg-light py-3">
    <div class="container">
      <p class="text-center mb-0">
        &copy; Mi Página. Todos los derechos reservados.
      </p>
    </div>


  </footer>
{% endblock %}